<style>

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

</style>


<h3>Welcome!</h3>
<h1><%= name %></h1>

<br><br>

Contact list
<br>
<table style="border: 1px solid">
  <tbody>
    <tr><td>Popularity</td><td>Name</td><td>Number</td><td>Action</td></tr>
  <% contacts.forEach(function(item){ %>
    <tr>
      <td><%= item.savedCount %></td>
      <td><%= item.name %></td>
      <td><%= item.mobile %></td>
      <td>
          <form action="/delete" method="POST">
            <input type="hidden" name="contactId" value="<%= item._id %>">
          <input type="submit" value="Delete">
        </form>
      </td>
  
</tr>
  <% }); %>
</tbody>
</table>


<br>
<a href="/addcontact">Add Contact</a>
<br>
<br>
<a href="/profile">Profile</a>
<br>
<br>
<a href="/logout">Logout</a>